
.button1 {
    -fx-background-color: rgb(0, 187, 0); /* Green background color */
    -fx-border-color: rgb(0, 128, 64); /* Dark green border color */
    -fx-border-width: 2px; /* Border width, adjust as needed */
    -fx-text-fill: white; /* Text color, to make it visible on the green background */
    -fx-font-weight: bold;
}

.button1:hover {
    -fx-background-color: rgb(0, 215, 0); /* Green background color on hover */
    -fx-border-color: rgb(0,128, 64); /* Dark green border color on hover */
}


.createButton {
    -fx-background-color: transparent; /* Make the background transparent */
    -fx-border-color: transparent; /* Make the border transparent */
    -fx-text-fill: rgb(0, 128, 255); /* Set the text color to green */
    -fx-font-weight: bold; /* Make the text bold */
}

.createButton:hover {
    -fx-background-color: transparent; /* Make the background transparent */
    -fx-border-color: transparent; /* Make the border transparent */
    -fx-text-fill: rgb(0, 191, 191); /* Set the text color to green */
    -fx-font-weight: bold; /* Make the text bold */
}


.userlabel {
    -fx-font-weight: bold; /* Make the text bold */
}


.cButton {
	 -fx-background-color: rgb(0, 128, 255); /* Green background color */
    -fx-border-color: rgb(0, 80, 159); /* Dark green border color */
    -fx-border-width: 2px; /* Border width, adjust as needed */
    -fx-text-fill: white; /* Text color, to make it visible on the green background */
    -fx-font-weight: bold;
}

.cButton:hover {
	 -fx-background-color: rgb(70, 163, 255); /* Green background color */
    -fx-border-color: rgb(0, 101, 202); /* Dark green border color */
    -fx-border-width: 2px; /* Border width, adjust as needed */
    -fx-text-fill: white; /* Text color, to make it visible on the green background */
    -fx-font-weight: bold;
}

.bigbox {
	-fx-alignment: top-left; 
}

.button2 {
    -fx-background-color: #FFA500; /* Green background color */
    -fx-border-color: #D18700; /* Dark green border color */
    -fx-border-width: 2px; /* Border width, adjust as needed */
    -fx-text-fill: white; /* Text color, to make it visible on the green background */
    -fx-font-weight: bold;
}

.button2:hover {
    -fx-background-color: #FFB52E; /* Green background color on hover */
    -fx-border-color: #FFA500; /* Dark green border color on hover */
}


























