
/* Nicholas Lorenzini */

.login-button {
    -fx-background-color: transparent;
    -fx-border-color: #0072CC; /* Blue border color */
    -fx-border-width: 2px; /* Border width */
    -fx-text-fill: #0072CC; /* Text color */
}

.login-button:hover {
    -fx-background-color: #0072CC; /* Background color on hover */
    -fx-text-fill: white; /* Text color on hover */
}

.login-button {
    -fx-alignment: CENTER;
}

/* Increase the font size and padding for the login button */
.login-button {
    -fx-font-size: 14px;
    -fx-padding: 5px 30px;
}

.login-button {
    -fx-background-color: #0072CC; /* Blue background color */
    -fx-text-fill: white; /* White font color */
    -fx-background-radius: 15;
    -fx-border-width: 0;
   
}

.login-button:hover {
    -fx-background-color: #2CBCFF; /* Blue background color */
    -fx-text-fill: white; /* White font color */
    -fx-background-radius: 15;
    -fx-border-width: 0;
   
}

.login-label {
	 -fx-alignment: CENTER;
	 
}

.create-label:hover {
	
	 -fx-text-fill: #21DAE0;
}

.create-label {
	 -fx-alignment: CENTER;
	 -fx-text-fill: blue;
}


.create-button {
    -fx-background-color: #ff8c00; /* Blue background color */
    -fx-text-fill: black; /* White font color */
    -fx-background-radius: 15;
    -fx-border-width: 0;
   
}

.create-button:hover {
    -fx-background-color: #FAC28E; /* Blue background color */
    -fx-text-fill: black; /* White font color */
    -fx-background-radius: 15;
    -fx-border-width: 0;
   
}

.reset-label {
	 -fx-alignment: CENTER;
	 -fx-text-fill: blue;
}

.reset-label:hover {
	 -fx-text-fill: #21DAE0; /*light blue */
}
